        
<div class="footer">
  <div class="footer-links">
    <a href="https://instagram.com/andromeda.flame?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a>
    <a href="https://youtube.com/@AndromedaFlame?si=4UOK_7LCBF0FzWG7"><i class="fab fa-youtube"></i></a>
    <a href="https://www.etsy.com/uk/shop/AndromedaFlame?ref=profile_header"><i class="fa-brands fa-etsy"></i></a>
    <a href="https://www.tiktok.com/@andromeda.flame"><i class="fab fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    &copy; Andromeda Flame 2023
  </div>
</div>